<body> 
		<header>
			<div class="container">
				<div class="row">
					<div class="responsive-logo"></div>
					<div class="pullcontainer">
						<a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<nav>
                        <div class="logo-holder">{{page.logo}}</div>
                        {% if page.navbar %}
						    {{page.navbar}}
						{% endif %}
						</nav>
					</div>
				</div>
			</div>
			{% if page.banner_section %}
				{{page.banner_section}}
			{% else %}	
				<div class="hero"></div>
			{% endif %}
		</header>
	
		</div>
	      {% if page.introduction %}
		   <div class="container-fluid intro" id="about">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {{page.introduction}}
                    </div>
                </div>
           </div>
           {% endif %}
<div class="container-fluid">
     {{ page.content }}
</div>

<section class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               {{page.testimonial}}
            </div>
        </div>
    </div>
</section>


<div class="container-fluid" id="shop">
			<div class="row">
			 	<div id="effect" class="effects clearfix">
				{{page.gallery}}
				</div>
			</div>
		</div>
		<section class="discover">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<a href="#" class="shop-btn">Discover The Shop</a>
					</div>
				</div>
			</div>
		</section>
		{% if page.newsletter %}
		<section class="sign_up">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 sign-up">
                        {{ page.logo }}
						<h2 class="logo-header">Stay on the saddle!</h2>
                            {{page.newsletter}}
					</div>
				</div>
			</div>
		</section>
		{% endif %}
		<footer id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-4 footer-leftcol">
						<p>
							{{page.footer_first}}	
						</p>
					</div>
					<div class="col-md-4 footer-midcol">
						{{page.footer_second}}
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 footer-rightcol">
						<p>
							{{page.footer_third}}
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		
	</body>

